@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dropIn {
  0% {
    max-height: 0;
    overflow: hidden;
  }
  25% {
    max-height: 250px;
    overflow: hidden;
  }
  50% {
    max-height: 500px;
    overflow: hidden;
  }
  75% {
    max-height: 750px;
    overflow: hidden;
  }
  100% {
    max-height: auto;
    overflow: visible;
  }
}

@keyframes dropOut {
  0% {
    max-height: auto;
    overflow: visible;
  }
  25% {
    max-height: 75%;
    overflow: hidden;
  }
  50% {
    max-height: 50%;
    overflow: hidden;
  }
  75% {
    max-height: 25%;
    overflow: hidden;
  }
  100% {
    max-height: 0;
  }
}

.btn {
  @apply border-none md:py-2 md:px-5 py-2 px-3 text-primary font-semibold rounded-md bg-secondary-200 shadow-lg shadow-secondary-100 hover:text-white transition ease-in-out duration-200;
}
.header-text {
  @apply mb-3 text-primary md:font-bold font-semibold md:text-[40px] text-[32px] text-center tracking-tighter;
}
.subhead-text {
  @apply mb-10 text-primary text-[18px] text-center;
}
.logo {
  width: 162px;
}
.container {
  @apply my-0 mx-auto md:w-container md:px-0 px-4 w-smallContainer;
}
.nav-list li {
  @apply hover:text-secondary-pink transition ease-in-out duration-200 md:p-0 py-2;
}
.footer h2 {
  @apply text-xl text-[#2c2c2c] font-semibold mb-4;
}
.footer-column li {
  @apply py-2;
}
.footer span {
  @apply bg-secondary-pink px-2 rounded text-white text-sm font-semibold;
}
.pyramid {
  @apply grid grid-cols-12 place-items-center justify-items-center gap-[30px];
}
.pyramid img:first-child,
img:nth-child(2),
img:nth-child(3) {
  @apply col-span-4;
}
.pyramid img:nth-child(4) {
  @apply col-start-3 col-span-4;
}
.pyramid img:last-child {
  @apply col-start-7 col-span-4;
}

.drop-in {
  animation-name: dropIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.drop-out {
  animation-name: dropOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
